		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a ui-sref='students'><span class='glyphicon glyphicon-asterisk'></span><br/>Alunos</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
			</div>
		</div>