<header id='header-index'>
	<div class='jumbotron'>
		<h1>Modular <p class='lead'>Bem vindo</p></h1>
	</div>
</header>
<div id='content-index'>
	<div class='container-fluid'>
		<div class='row'>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-user'></span><br/>Matricular aluno</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-user'></span><br/>Cadastrar professor</a>
					</button>
				</div>
			</div>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-search'></span><br/>Procurar aluno</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon glyphicon-file'></span><br/>Cadastrar disciplina</a>
					</button>
				</div>
			</div>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-exclamation-sign'></span><br/>Notificar aluno</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-sort'></span><br/>Estatísticas</a>
					</button>
				</div>
			</div>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-edit'></span><br/>Atribuir notas</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-usd'></span><br/>Finanças</a>
					</button>
				</div>
			</div>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-plus-sign'></span><br/>Criar turma</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-user'></span><br/>Cadastrar usuário</a>
					</button>
				</div>
			</div>
			<div class='col-md-2'>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-th-list'></span><br/>Listar turmas</a>
					</button>
				</div>
				<div class='circle'>
					<button class='btn-circle'>
						<a href='#'><span class='glyphicon glyphicon-wrench'></span><br/>Configurações</a>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>