<!DOCTYPE html>
<html>
<head>
	<meta charset='utf-8'>
	<title>Modular | Automação Escolar</title>
</head>
<body>
	<nav class='navbar navbar-inverse navbar-fixed-top' role='navigation'>
		<div class='container-fluid'>
			 <div class='navbar-header'>
				<button type='button' class='navbar-toggle' data-toggle='collapse' data-target='#navbar-links'>
					<span class='sr-only'>Toggle navigation</span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
					<span class='icon-bar'></span>
				</button>
				<a class='navbar-brand' href='#'>Modular</a>
			</div>
			<div class='collapse navbar-collapse' id='navbar-links'>
				<ul class='nav navbar-nav'>
					<li class='active'><a href='#'>Início</a></li>
					<li><a href='#'>Alunos</a></li>
					<li><a href='#'>Turmas</a></li>
					<li><a href='#'>Professores</a></li>
					<li><a href='#'>Configurações</a></li>
					<li><a href='#'>Ações</a></li>
				</ul>
			</div>
		</div>
	</nav>
	<header>
		<div class='jumbotron'>
			<h1>Modular <p class='lead'>Bem vindo</p></h1>
		</div>
	</header>
	<div id='content-index' class='content'>
		<div class='container-fluid'>
			<div class='row'>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
				<div class='col-md-2'>
					<div class='circle'>
						<button class='btn-circle'>
							<a href='#'><span class='glyphicon glyphicon-asterisk'></span><br/>Description</a>
						</button>
					</div>
				</div>
			</div>
		</div>
	</div>
<!--Include libs -->
<script src='../lib/pouchdb/dist/pouchdb-nightly.min.js'></script>
<script src='../lib/jquery/dist/jquery.min.js'></script>
<script src='../lib/handlebars/handlebars.min.js'></script>
<link rel='stylesheet' type='text/css' href='../lib/bootstrap/dist/css/bootstrap.min.css'>
<!-- The magic -->
<link rel='stylesheet' type='text/css' href='../css/bootstrap.theme.css'>
<script src='../src/helper.js'></script>
<script src='../src/view.js'></script>
<script src='../src/resource.js'></script>
<script src='../src/session.js'></script>
<script src='../src/user.js'></script>
<script src='../src/app.js'></script>
</body>
</html>